.link-color0:hover {
    background-color: #E63939;
}
.link-color0:target {
    background-color: #E63939;
}
.link-color1:hover {
    background-color: #DA6A13;
}
.link-color1:target {
    background-color: #DA6A13;
}
.link-color2:hover {
    background-color: #BA9D01;
}
.link-color2:target {
    background-color: #BA9D01;
}
.link-color3:hover {
    background-color: #8CC705;
}
.link-color3:target {
    background-color: #8CC705;
}
.link-color4:hover {
    background-color: #59E01E;
}
.link-color4:target {
    background-color: #59E01E;
}
.link-color5:hover {
    background-color: #2BE448;
}
.link-color5:target {
    background-color: #2BE448;
}
.link-color6:hover {
    background-color: #0BD27B;
}
.link-color6:target {
    background-color: #0BD27B;
}
.link-color7:hover {
    background-color: #00ACAC;
}
.link-color7:target {
    background-color: #00ACAC;
}
.link-color8:hover {
    background-color: #0B7BD2;
}
.link-color8:target {
    background-color: #0B7BD2;
}
.link-color9:hover {
    background-color: #2B48E4;
}
.link-color9:target {
    background-color: #2B48E4;
}
.link-color10:hover {
    background-color: #591EE0;
}
.link-color10:target {
    background-color: #591EE0;
}
.link-color11:hover {
    background-color: #8C05C7;
}
.link-color11:target {
    background-color: #8C05C7;
}
.link-color12:hover {
    background-color: #BA019D;
}
.link-color12:target {
    background-color: #BA019D;
}
.link-color13:hover {
    background-color: #DA136A;
}
.link-color13:target {
    background-color: #DA136A;
}
