/* CSS Reset based on https://www.joshwcomeau.com/css/custom-css-reset/ */
/* see also: https://piccalil.li/blog/a-modern-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
iframe {
  border: none;
}
/* end CSS Reset */


html {
  scrollbar-color: black white; /* TODO webkit support? */
}
::-webkit-scrollbar {
  background-color: white;
  width: 7pt;
  height: 7pt;
}
::-webkit-scrollbar:vertical, ::-webkit-scrollbar-corner {
  border-left: 1pt solid black;
}
::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-corner {
  border-top: 1pt solid black;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}

body {
  font-family: "Iosevka Fixed Web", monospace;
  font-weight: 400;
}

h2 {
  margin-top: 12pt;
}

img {
  margin-top: 8pt;
  margin-bottom: 8pt;
}

p a {
  color: #8d00b0;
}

p a:hover {
  background-color: #f2d5e5;
  border-radius: 3pt;
  margin: -3pt;
  padding: 3pt;
}

code {
  background-color: #eee;
  margin: -3pt;
  padding: 3pt;
}
