body {
  max-width: 900pt;
  padding: 20pt;
  margin: auto;
}

.page-root, .nav-box, .content-box {
  border: 3pt solid black;
}
.nav-box, .content-box {
  margin: 3pt;
  position: relative;
}

.page-root {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-box {
  width: 180pt;
  flex-shrink: 0;
}

.nav-box > iframe {
  width: 100%;
  height: 100%;
}

.content-box {
  flex-grow: 1;
  min-width: 0;
}

.content {
  overflow-y: auto;
  padding: 4pt 16pt;
  width: 100%;
  height: 100%;
}

.content-header {
  margin-left: auto;
  height: 32pt;
  display: table;
  border-spacing: 4pt 0;
}

.quick-link {
  display: table-cell;
  border: 1pt solid black;
  text-decoration: inherit;
  color: inherit;
  height: 100%;
  vertical-align: middle;
  padding: 0 8pt;
}

.quick-link:hover {
  background: black;
  color: white;
  border-color: white;
}

.floating-button-left {
  position: absolute;
  background: white;
  border: 1pt solid black;
  cursor: pointer;
  padding: 2pt;
  left: -1pt;
  top: -1pt;
}

.floating-button-left img {
  width: 20pt;
  height: 20pt;
  margin: 0;
}

#close-nav-button, #expand-nav-button, #open-nav-button {
  display: none;
}

@media all and (max-width: 45em) {
  body {
    padding: 6pt;
  }
  .nav-box {
    display: none;
    width: 0;
    flex-grow: 1;
  }
  #open-nav-button {
    display: block;
  }
}
@media not all and (max-width: 45em) {
  .nav-box {
    margin-right: 0;
  }
}
