a {
    color: inherit;
}

.blocklink {
    text-decoration: none; /* remove link underline */
}

body {
    font-family: 'Roboto', sans-serif;
    width: 384pt;
    margin: auto;
    background: white;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 16pt;
}

h2 {
    text-align: center;
    margin-top: 16pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8pt;
    margin-bottom: 8pt;
    display: block;
}

.linkbutton, .linkbutton-selected {
    border: 1px solid black;
    border-radius: 8pt;
    background-color: #DDD;
    padding: 6pt;
    margin: 4pt;
}

.linkbutton-selected {
    background-color: #AAA;
}

.linkbutton:hover {
    background-color: #CCC;
}

.linkbutton:active {
    background-color: #BBB;
}

.linksection {
    margin: 4pt;
    padding-bottom: 6pt;
    text-align: center;
}

table {
    border-spacing: 4pt 0;
}

th {
    white-space: nowrap;
    text-align: left;
    font-weight: 300;
}