body {
  padding: 24pt 16pt 4pt;
  overflow-x: hidden;
}

.nav ul {
  margin: 0 0 18pt 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  margin: 0 -50pt;
  padding: 0 50pt;
  transition: background-color 1s;
  text-decoration: inherit;
  color: inherit;
}

.nav a:after {
  content: " >";
}

.nav .ext-link:after {
  content: " ->";
}

.nav a:hover, .nav a:target {
  color: white;
  transition: background-color 0s;
}
@media (prefers-color-scheme: dark) {
  .nav a:hover, .nav a:target {
    color: black;
  }
}
