/* Minor enhancements to browsers' built-in stylesheets */

html {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:target {
  color: ActiveText;
}

pre, code, kbd, samp {
  font-family: ui-monospace, monospace;
  background: ButtonFace;
  color: ButtonText;
  padding: 0 0.3em;
}

pre {
  overflow-x: auto;
}

blockquote {
  font-style: italic;
}

table, caption {
  font: inherit; /* for Quirks mode */
}

th, td {
  padding: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
}
