html {
	color-scheme: light dark;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

pre, code, kbd, samp {
	font-family: ui-monospace, monospace;
	background: ButtonFace;
	color: ButtonText;
}

pre {
	overflow-x: auto;
}

blockquote {
	font-style: italic;
}
