<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="/index.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  
  <body>
    <script type="text/javascript" src="/redirect.js"></script>
  
    <h1>{{ page.title }}</h1>
    
    <div class="linksection">
      {% if page.title == 'About' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span></a>
      {% else %}
        <a href="/about/"> <span class="linkbutton">
        About </span> </a>
      {% endif %}
      
      {% if page.title == 'Projects' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span></a>
      {% else %}
        <a href="/"> <span class="linkbutton">
        Projects </span> </a>
      {% endif %}
      
      {% if page.title == 'Web Apps' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span></a>
      {% else %}
        <a href="/webapps/"> <span class="linkbutton">
        Web Apps </span> </a>
      {% endif %}
      
      {% if page.title == 'Other' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span></a>
      {% else %}
        <a href="/other/"> <span class="linkbutton">
        Other </span> </a>
      {% endif %}
      
      <a href="http://github.com/vanjac"><span class="linkbutton">
      GitHub </span></a>
    </div>
    
    {{ content }}
    
    {% assign isRightBlock = false %}
    {% assign animationDelay = 0.0 %}
    
    {% assign blocks = page.blocks | split: ";" %}
    {% for block in blocks %}
      {% assign blockData = block | split: "," %}
      
      <a href="{{ blockData[2] }}">
      
        {% if isRightBlock %}
        <div class="block-group-right"
          style="animation-delay: {{animationDelay}}s;">
        {% assign isRightBlock = false %}
        {% else %}
        <div class="block-group-left"
          style="animation-delay: {{animationDelay}}s;">
        {% assign isRightBlock = true %}
        {% endif %}
          <p class="project-name"> {{ blockData[0] }} </p>
          <p class="project-description">
            {{ blockData[1] }}
          </p>
        </div>
      
      </a>
      
      {% assign animationDelay = animationDelay | plus: 0.1 %}
    {% endfor %}
    
    <script type="text/javascript" src="/colorful-index.js"></script>
  </body>

</html>
