<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link href="/index.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
  
  <body>
    <script type="text/javascript" src="/redirect.js"></script>
  
    <h1 onclick="titleClicked()" id="titleText">{{ page.title }}</h1>
    <script type="text/javascript">
    function titleClicked() {
      document.getElementById("titleText").innerHTML += "!";
    }
    </script>
    
    <div class="linksection">
      {% if page.title == 'All' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span>
      {% else %}
        <a href="/all/"> <span class="linkbutton">
        All </span> </a>
      {% endif %}
      
      {% if page.title == 'Projects' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span>
      {% else %}
        <a href="/"> <span class="linkbutton">
        Projects </span> </a>
      {% endif %}
      
      {% if page.title == 'Web Apps' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span>
      {% else %}
        <a href="/webapps/"> <span class="linkbutton">
        Web Apps </span> </a>
      {% endif %}
      
      {% if page.title == 'Other' %}
        <span class="linkbutton-selected">
        {{ page.title }} </span>
      {% else %}
        <a href="/other/"> <span class="linkbutton">
        Other </span> </a>
      {% endif %}
      
      <a href="http://github.com/vanjac"><span class="linkbutton">
      GitHub </span></a>
    </div>
    
    {{ content }}
    
    {% assign isRightBlock = false %}
    {% assign animationDelay = 0.0 %}
    
    {% for post in site.posts %}
      
      {% assign matchesFilter = true %}
      {% for tag in page.filter %}
        {% unless post.tags contains tag %}
          {% assign matchesFilter = false %}
        {% endunless %}
      {% endfor %}
      {% for tag in page.unfilter %}
        {% if post.tags contains tag %}
          {% assign matchesFilter = false %}
        {% endif %}
      {% endfor %}
      {% if matchesFilter == false %}
        {% continue %}
      {% endif %}
      
      <a href="{{ post.link }}">
      
        {% if isRightBlock %}
        <div class="block-group-right"
          style="animation-delay: {{animationDelay}}s;">
        {% assign isRightBlock = false %}
        {% else %}
        <div class="block-group-left"
          style="animation-delay: {{animationDelay}}s;">
        {% assign isRightBlock = true %}
        {% endif %}
          <p class="project-name"> {{ post.title }} </p>
          <p class="project-description">
            {{ post.excerpt }}
          </p>
        </div>
      
      </a>
      
      {% assign animationDelay = animationDelay | plus: 0.1 %}
    {% endfor %}
    
    <script type="text/javascript" src="/colorful-index.js"></script>
  </body>

</html>
